
  <div class="container">
	  <div id="slides">
	    <%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
	  </div>
  </div>

<script>
  $(document).ready(function() {
  	
      $("#slides").slidesjs({
        width: 100,
        height: 25,
        play: {
          active: true,
          effect: "slide",
	      interval: 5000,
	      auto: false,
	      swap: true,
	      pauseOnHover: false,
	      restartDelay: 2500
    	}
      });
    });
</script>