<!-- Start Advanced Gallery Html Containers -->
<div id="content">
	<h1>HFHR Gallery</h1>
	<div id="images">
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		FB.api("/"+275051609293416+"/photos",function(response)
		{
			console.log(response["data"]);
		    var photos = response["data"];
		    for(var v=0;v<photos.length;v++)
		    {
		    	$("#images").append("<a class='gallery-thumbs' rel='shadowbox[HFHR]' href='" + photos[v].images[0].source + "'><img src='" + photos[v].images[6].source + "' alt='Picture' /></a>");
		    }
		});
		Shadowbox.init({
          handleOversize: "drag",
          modal: true,
          continuous: true,
          viewportPadding: 50
        });
	});
</script>