<!-- Start Advanced Gallery Html Containers -->
<div id="content">
	<h1>HFHR Gallery</h1>
	<div id="images">
	</div>
</div>

<% 
	uri = URI('https://graph.facebook.com/oauth/access_token?client_id=463416020400481&client_secret=d5887e5acb23ae04d96647b3bd87cb35&grant_type=client_credentials')
	http = Net::HTTP.new(uri.host, uri.port)
	http.use_ssl = true
    request = Net::HTTP::Get.new(uri.request_uri)
    response = http.request(request)
    @access_token = response.body
%>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		FB.api("/"+275051609293416+"/photos/?limit=200&<%=@access_token%>",function(response)
		{
		    var photos = response["data"];
		    for(var v=0;v<photos.length;v++)
		    {
		    	$("#images").append("<a class='gallery-thumbs' rel='shadowbox[HFHR]' href='" + photos[v].images[0].source + "'><img src='" + photos[v].images[6].source + "' alt='Picture' /></a>");
		    }
		});
		Shadowbox.init({
          handleOversize: "drag",
          modal: true,
          continuous: true,
          viewportPadding: 50
        });
	});
</script>