<% @items = Refinery::News::Item.latest(10) %>
	
<div id='news' >
	<h2>
	  <%=raw @page.content_for(:news_title) %>
	</h3>
	<div id='recent_news'>
		<% @items.each do |item| %>
			<div class='news_item_div'>
			  	<h3 class='news'>
			    	<%= link_to item.title, refinery.news_item_path(item), :class => 'news_item_title' %>
			  	</h3>
			  	<span class="news_item">
			  		<% imgs= images_src(item.body) %>
			  		<% if imgs.length > 0 %>
			  			<%= image_tag imgs.first, :class => "thumbnail_large" %>
			  		<% end %>
			  		<%= raw remove_imgs(item.body) %>
			  	</span>
			</div>
		<% end %>
    </div>
</div>