<div id='header-content'>
	<div id="logo">
	  <%= image_tag "header.png" %>
	</div>
	
	<div id="social">
	  <%= link_to image_tag("social/facebook.jpg", :class => "social_image"), "https://www.facebook.com/spidercisefit" %>
	  <%= link_to image_tag("social/twitter.png", :class => "social_image"), "https://twitter.com/fitspider " %>
	</div>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>

