nav {
  font-family: $font-family;
  width: 1024px;
  margin: auto;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: #333333; /* Old browsers */
}

#menu {
}

#menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    width: 124px;
    margin-left: 10px;
    a {
      display: block;
      color: $background;
      padding: 5px 5px;
      text-decoration: none;
      font-size: 17px;
    }
    &.selected a, a:hover {
      font-weight: bolder;
    }
  }
}
