#social {
  float: right;
  padding-top: 30px;
  height: 30px;
  width: 100px;
  color: $background;
}

.social_image {
  height: 30px;
  float: right;
  margin-left: 10px;
  background: $primary-color;
}

span.social {
  float: right;
  font-weight: bolder;
  font-size: 12px;
}
