$background: white;
$primary-color: #000055;
$secondary-color: #afdde9;
$info-color: #ff6c00;
$font-color: black;
$font-family: Arial, Helvetica, sans-serif;

@import "reset";
@import "header";
@import "footer";
@import "home";

body {
	background-color: $background;
  font-family: $font-family;
  color: $font-color;
  font-size: 20px;
}

p {
  line-height:120%;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  color: $primary-color;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bolder;
  color: $primary-color;
  margin-bottom: 5px;
}

p img {
  width: 90%;
  height: auto;
  display: table;
}

section {
  margin-bottom: 30px;
}

img.thumbnail_large {
  height: 60px;
  width: auto;
  float: left;
  margin-right: 20px;
}

.section_image_right {
  width: 150px;
  float: left; 
  margin-left: 20px;
}

.section_text {
  float: left; 
}

#page {
  width: 1024px;
  float: left;
}

#content {
	margin: auto;
	width: 1024px;
  min-height: 800px;
}

#container {
  margin: 0px;
  float: left;
  border-top: 5px solid $secondary-color;
  width: 100%
}

/** Home **/
  
#notification {
  height: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 1024px;
  display: table;
}

span.twitter {
  margin: auto;
  display: inline-block;
}
span.twitter_text {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

span.twitter_title {
  font-size: 20px;
  font-weight: bolder;
  color: $primary-color;
  margin-right: 20px;
}

img.twitter {
  float: left;
  width: auto;
  height: 30px;
  margin-right: 10px;
}

#home_left {
  width: 680px;
  float: left;
}

#home_right {
  width: 323px;
  float: left;
  border-left: 1px solid black;
  margin-left: 10px;
  padding-left: 10px;
}

/** News Item **/

.news_item_title {
    text-decoration: none;
    color: $info-color;
    margin-bottom: 10px;
}

.news_item {
  font-size: 20px;
  margin-top: 5px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
